.kimnambin.github.iobyhtml.to.design❤️freeversion-19-01/2024,16:38:06gmt-9
{
position:absolute;
height:2375px;
width:1144px;
padding:0px;
}
.image
{
height:401px;
width:565px;
padding:0px;
left:184px;
position:relative;
}
.image2
{
height:9px;
width:119px;
padding:0px;
top:446px;
position:relative;
}
.image3 {
    height: 401px;
    width: 297px;
    padding: 0;
    top: 0;
    left: 70px;
    position: relative;
    z-index: 3000; 
}

.image4
{
height:25px;
width:18px;
padding:0px;
top:1204px;
position:relative;
}
.채용형d-11디자인펀딩프로젝트웹상세페이지기획및디자인
{
color:#000000;
text-align:left;
vertical-align:text-middle;
font-size:13.625px;
font-family:Inter;
line-height:auto;
border-style:hidden;
outline:none;
left:232.45px;
top:696.36px;
position:absolute;
width:137.38999938964844px;
}
.채용형d-11디자인펀딩프로젝트웹상세페이지기획및디자인2
{
color:#000000;
text-align:left;
vertical-align:text-middle;
font-size:13.625px;
font-family:Inter;
left:415px;
top:695px;
width:137.38999938964844px;
height:71px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}
.image5
{
height:163px;
width:217px;
padding:0px;
left:400.45px;
top:517.36px;
position:absolute;
}
.image6
{
height:25px;
width:18px;
padding:0px;
top:1472px;
position:absolute;
}
.image7
{
height:163px;
width:217px;
padding:0px;
left:606.45px;
top:517.36px;
position:absolute;
}
.image8
{
height:25px;
width:18px;
padding:0px;
top:1740px;
position:absolute;
}
.교육형d-2회계·인사·총무스타트업특성을고려한사업비예산수립및지출관리효율화…
{
color:#000000;
text-align:left;
vertical-align:text-middle;
font-size:13.625px;
font-family:Inter;
left:634.45px;
top:707.36px;
width:202.2899932861328px;
height:71px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}
.image9
{
height:163px;
width:217px;
padding:0px;
left:823.45px;
top:517.36px;
position:absolute;
}
.image10
{
height:25px;
width:18px;
padding:0px;
top:2008px;
position:absolute;
}
.채용형d-3마케팅뷰티브랜드트리앤씨의sns마케팅콘텐츠제작및카피라이팅
{
color:#000000;
text-align:left;
vertical-align:text-middle;
font-size:13.625px;
font-family:Inter;
left:849.45px;
top:703.36px;
width:205.80999755859375px;
height:71px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}
.채용형d-3마케팅뷰티브랜드트리앤씨의sns마케팅콘텐츠제작및카피라이팅2
{
color:#000000;
text-align:left;
vertical-align:text-middle;
font-size:13.625px;
font-family:Inter;
left:858px;
top:987px;
width:205.80999755859375px;
height:71px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}
.image11
{
height:163px;
width:217px;
padding:0px;
left:184.45px;
top:793.36px;
position:absolute;
}
.image12
{
height:163px;
width:217px;
padding:0px;
left:184px;
top:516px;
position:absolute;
}
.image13
{
height:25px;
width:18px;
padding:0px;
top:2276px;
position:absolute;
}
.채용형진행중디자인구름맨션마인드셋키트판매를위한제품상세페이지기획및…
{
color:#000000;
text-align:left;
vertical-align:text-middle;
font-size:13.625px;
font-family:Inter;
left:214.45px;
top:985.36px;
width:198.2899932861328px;
height:71px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}
.image14
{
height:163px;
width:217px;
padding:0px;
left:401.45px;
top:794.36px;
position:absolute;
}
.image15
{
height:25px;
width:18px;
padding:0px;
top:2544px;
position:absolute;
}
.교육형진행중디자인유입된고객의전환율을높이기위한웹페이지ui-ux개선
{
color:#000000;
text-align:left;
vertical-align:text-middle;
font-size:13.625px;
font-family:Inter;
left:435.45px;
top:985.36px;
width:199.36000061035156px;
height:71px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}
.image16
{
height:163px;
width:217px;
padding:0px;
left:617.45px;
top:793.36px;
position:absolute;
}
.image17
{
height:25px;
width:18px;
padding:0px;
top:2812px;
position:absolute;
}
.채용형진행중마케팅자산관리서비스‘블루버튼’을효과적으로알릴수있는피드광…
{
color:#000000;
text-align:left;
vertical-align:text-middle;
font-size:13.625px;
font-family:Inter;
left:642.45px;
top:986.36px;
width:212.9499969482422px;
height:71px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}
.채용형진행중마케팅자산관리서비스‘블루버튼’을효과적으로알릴수있는피드광…2
{
color:#000000;
text-align:left;
vertical-align:text-middle;
font-size:13.625px;
font-family:Inter;
left:642.45px;
top:986.36px;
width:212.9499969482422px;
height:71px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}
.채용형진행중마케팅자산관리서비스‘블루버튼’을효과적으로알릴수있는피드광…3
{
color:#000000;
text-align:left;
vertical-align:text-middle;
font-size:13.625px;
font-family:Inter;
left:874px;
top:2245px;
width:212.9499969482422px;
height:71px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}
.채용형진행중마케팅자산관리서비스‘블루버튼’을효과적으로알릴수있는피드광…4
{
color:#000000;
text-align:left;
vertical-align:text-middle;
font-size:13.625px;
font-family:Inter;
left:641px;
top:1977px;
width:212.9499969482422px;
height:71px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}
.채용형진행중마케팅자산관리서비스‘블루버튼’을효과적으로알릴수있는피드광…5
{
color:#000000;
text-align:left;
vertical-align:text-middle;
font-size:13.625px;
font-family:Inter;
left:886px;
top:1973px;
width:212.9499969482422px;
height:71px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}
.채용형진행중마케팅자산관리서비스‘블루버튼’을효과적으로알릴수있는피드광…6
{
color:#000000;
text-align:left;
vertical-align:text-middle;
font-size:13.625px;
font-family:Inter;
left:427px;
top:1969px;
width:212.9499969482422px;
height:71px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}
.채용형진행중마케팅자산관리서비스‘블루버튼’을효과적으로알릴수있는피드광…7
{
color:#000000;
text-align:left;
vertical-align:text-middle;
font-size:13.625px;
font-family:Inter;
left:195px;
top:1970px;
width:212.9499969482422px;
height:71px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}
.채용형진행중마케팅자산관리서비스‘블루버튼’을효과적으로알릴수있는피드광…8
{
color:#000000;
text-align:left;
vertical-align:text-middle;
font-size:13.625px;
font-family:Inter;
left:176px;
top:2236px;
width:212.9499969482422px;
height:71px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}
.채용형진행중마케팅자산관리서비스‘블루버튼’을효과적으로알릴수있는피드광…9
{
color:#000000;
text-align:left;
vertical-align:text-middle;
font-size:13.625px;
font-family:Inter;
left:408px;
top:2244px;
width:212.9499969482422px;
height:71px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}
.채용형진행중마케팅자산관리서비스‘블루버튼’을효과적으로알릴수있는피드광…10
{
color:#000000;
text-align:left;
vertical-align:text-middle;
font-size:13.625px;
font-family:Inter;
left:640px;
top:2240px;
width:212.9499969482422px;
height:71px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}
.image18
{
height:163px;
width:217px;
padding:0px;
left:834.45px;
top:794.36px;
position:absolute;
}
.image19
{
height:25px;
width:18px;
padding:0px;
top:3080px;
position:absolute;
}
.image20
{
height:121px;
width:121px;
padding:0px;
left:189px;
top:1364px;
position:absolute;
}
.image21
{
height:121px;
width:121px;
padding:0px;
left:374px;
top:1360px;
position:absolute;
}
.영업영업팀-영업담당자채용-주유닛블랙정규직
{
color:#000000;
text-align:left;
vertical-align:text-middle;
font-size:13.625px;
font-family:Inter;
left:505px;
top:1393px;
width:79.08999633789062px;
height:71px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}
.image22
{
height:121px;
width:121px;
padding:0px;
left:615px;
top:1352px;
position:absolute;
}
.마케팅서비스개발팀-퍼포먼스마케터-주유닛블랙정규직
{
color:#000000;
text-align:left;
vertical-align:text-middle;
font-size:13.625px;
font-family:Inter;
left:737px;
top:1381px;
width:88.62000274658203px;
height:71px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}
.image23
{
height:121px;
width:121px;
padding:0px;
left:855px;
top:1360px;
position:absolute;
}
.image24
{
height:121px;
width:121px;
padding:0px;
left:184px;
top:1485px;
position:absolute;
}
.디자인프로덕트디자이너-주왓섭정규직
{
color:#000000;
text-align:left;
vertical-align:text-middle;
font-size:13.625px;
font-family:Inter;
left:314px;
top:1515px;
width:50.95000076293945px;
height:71px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}
.디자인프로덕트디자이너-주왓섭정규직2
{
color:#000000;
text-align:left;
vertical-align:text-middle;
font-size:13.625px;
font-family:Inter;
left:510px;
top:1516px;
width:50.95000076293945px;
height:71px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}
.디자인프로덕트디자이너-주왓섭정규직3
{
color:#000000;
text-align:left;
vertical-align:text-middle;
font-size:13.625px;
font-family:Inter;
left:745px;
top:1511px;
width:50.95000076293945px;
height:71px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}
.디자인프로덕트디자이너-주왓섭정규직4
{
color:#000000;
text-align:left;
vertical-align:text-middle;
font-size:13.625px;
font-family:Inter;
left:311px;
top:1389px;
width:50.95000076293945px;
height:71px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}
.image25
{
height:121px;
width:121px;
padding:0px;
left:374px;
top:1490px;
position:absolute;
}
.image26
{
height:121px;
width:121px;
padding:0px;
left:615px;
top:1481px;
position:absolute;
}
.image27
{
height:121px;
width:121px;
padding:0px;
left:858px;
top:1490px;
position:absolute;
}
.m클래스를신청하세요미니인턴만의색깔을가진교육을제공해드려요
{
color:#000000;
text-align:left;
vertical-align:text-middle;
font-size:11.5px;
font-family:Inter;
left:985px;
top:1531px;
width:99px;
height:35px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}
.m클래스를신청하세요미니인턴만의색깔을가진교육을제공해드려요2
{
color:#000000;
text-align:left;
vertical-align:text-middle;
font-size:11.5px;
font-family:Inter;
left:983px;
top:1411px;
width:99px;
height:35px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}
.image28
{
height:121px;
width:937px;
padding:0px;
left:174px;
top:1632px;
position:absolute;
}
.image29
{
height:163px;
width:217px;
padding:0px;
left:179px;
top:1798px;
position:absolute;
}
.image30
{
height:163px;
width:217px;
padding:0px;
left:411px;
top:1798px;
position:absolute;
}
.image31
{
height:163px;
width:217px;
padding:0px;
left:640px;
top:1798px;
position:absolute;
}
.image32
{
height:163px;
width:217px;
padding:0px;
left:874px;
top:1798px;
position:absolute;
}
.image33
{
height:163px;
width:217px;
padding:0px;
left:179px;
top:2060px;
position:absolute;
}
.image34
{
height:163px;
width:217px;
padding:0px;
left:411px;
top:2060px;
position:absolute;
}
.image35
{
height:163px;
width:217px;
padding:0px;
left:643px;
top:2060px;
position:absolute;
}
.image36
{
height:163px;
width:217px;
padding:0px;
left:881px;
top:2060px;
position:absolute;
}
.section
{
background-color:#f9f9f9;
height:314px;
width:1200px;
top:1062px;
left:0px;
position:absolute;
} 


.png {
    height: 300px;
    width: 300px;
}

.image-container {
    position: relative;
    display: inline-block;
}

.text-overlay {
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    color: red;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    position: absolute;
}
.text {
    display: inline-block;
    margin-top: 100px;
    margin-left: 
    150px; /* 원하는 여백 설정 */
    color: aqua; 
    font-weight: bold; 
    font-size: 30px; 
    font-family: 'Helvetica';
}
.container {
   
    width: 314px;
    height: 1200px;
    overflow: hidden;
    top:-180px;
    left: 640px;
    position: relative;
}

.carousel {
    display: flex;
    transition: transform 0.5s ease-in-out;
    animation: slide 12s infinite;
}

.cell {
    flex: 0 0 370px;
    
    transition: opacity 1s ease-in-out;
}

.cell.active {
    opacity: 1;
}


@keyframes slide {
    0%, 100% {
        transform: translateX(0);
    }
    25% {
        transform: translateX(-370px);
    }
    50% {
        transform: translateX(-740px);
    }
    75% {
        transform: translateX(-1110px);
    }
}
.left-button,
        .right-button {
            cursor: pointer;
            margin-top: 20px;
            padding: 5px;
            border-radius: 5px;
            border: 1px solid black;
            display: inline-block;
            position: absolute; /* 버튼의 위치를 조절하기 위해 절대 위치 설정을 추가 */
            top: 50%; /* 부모 요소 중앙 정렬을 위한 위치 설정 */
            transform: translateY(-50%);
        }

        .left-button {
            left: 10px; /* 이전 버튼의 왼쪽 위치 조절 */
        }

        .right-button {
            right: 10px; /* 다음 버튼의 오른쪽 위치 조절 */
        }